.container {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 16px;
  flex-direction: column;
  justify-content: center;

  .thanks {
    width: 100%;
    text-align: center;
  }
}
