<div class="container">
  <app-logo></app-logo>
  <div class="title">
    <h1>{{ 'Delivery Feedback' | translate }}</h1>
    <app-language-picker></app-language-picker>
  </div>
  <form *ngIf="form" [formGroup]="form">
    <ng-container
      *ngFor="let feedbackForm of form.controls.questions.controls; let index = index"
      formArrayName="questions"
    >
      <ng-container [formGroupName]="index">
        <div class="stars-container">
          <p class="question-title">{{ feedbackTypes[index] | translate }}</p>
          <div class="stars-wrapper" title="Rating: {{ feedbackForm.controls.score.value }} out of 5 stars">
            <div *ngFor="let value of [1,2,3,4,5]" class="star-button-wrapper">
              <button (click)="setRating(index, value)" class="star-button" type="button">
                <mat-icon *ngIf="feedbackForm.controls.score && feedbackForm.controls.score.value >= value"
                          [ngClass]="'star-'+ value"
                          class="star star-full">star
                </mat-icon>
                <mat-icon *ngIf="feedbackForm.controls.score && feedbackForm.controls.score.value < value"
                          [ngClass]="'star-'+ value"
                          class="star star-empty">
                  star_border
                </mat-icon>
              </button>
              <small *ngIf="value === 1 && index === 0">{{ 'very unlikely' | translate }}</small>
              <small *ngIf="value === 5 && index === 0">{{ 'very likely' | translate }}</small>
              <small *ngIf="value === 1 && index > 0">{{ 'very unsatisfied' | translate }}</small>
              <small *ngIf="value === 5 && index > 0">{{ 'very satisfied' | translate }}</small>
            </div>
          </div>
          <mat-error *ngIf="feedbackForm.controls.score.value === 0 && feedbackForm.touched">
            {{ 'You need to click on one star' | translate }}
          </mat-error>
        </div>
        <mat-expansion-panel class="expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ 'Comment' | translate }}</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="details">
            <mat-label>{{ 'Comment' | translate }}</mat-label>
            <textarea formControlName="details" matInput rows="4"></textarea>
          </mat-form-field>
        </mat-expansion-panel>
      </ng-container>
    </ng-container>
    <div class="button-container">
      <button (click)="submit()"
              [disabled]="loading"
              color="primary"
              mat-flat-button
              type="button">{{ 'Submit' | translate }}</button>
    </div>
  </form>
</div>
