.container {
  padding: 16px;
  width: 100%;

  h1 {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .stars {
    &-container {
      margin-bottom: 32px;
    }

    &-wrapper {
      display: flex;

      .star-button {
        border: none;
        background-color: transparent;
        cursor: pointer;

        .mat-icon {
          width: 48px;
          height: 48px;
          font-size: 48px;
        }
      }
    }
  }

  .button {
    &-container {
      width: 500px;
      display: flex;
      justify-content: flex-end;
    }
  }

  .star {
    color: #00469b;
  }

  .details {
    width: 500px;
  }

  @media (max-width: 767px) {
    .button {
      &-container {
        width: calc(100% - 25px);
      }
    }

    .details {
      width: calc(100% - 25px);
    }
  }
}
