<div class="container">
  <app-logo></app-logo>
  <div class="title">
    <h1>{{ 'Delivery Feedback' | translate }}</h1>
    <app-language-picker></app-language-picker>
  </div>
  <form (ngSubmit)="submit()" *ngIf="form" [formGroup]="form">
    <div class="stars-container">
      <p>{{ 'How likely are you to recommend us?'| translate }}</p>
      <div class="stars-wrapper" title="Rating: {{ form.controls.score.value }} out of 5 stars">
        <div *ngFor="let i of [1,2,3,4,5]" class="star-button-wrapper">
          <button (click)="setRating(i)" attr.aria-label="Set Rating to {{i}} stars" class="star-button" type="button">
            <mat-icon *ngIf="form.controls.score && form.controls.score.value >= i"
                      [ngClass]="'star-'+ i"
                      class="star star-full">star
            </mat-icon>
            <mat-icon *ngIf="form.controls.score && form.controls.score.value < i"
                      [ngClass]="'star-'+ i"
                      class="star star-empty">star_border
            </mat-icon>
          </button>
        </div>
      </div>
      <mat-error *ngIf="form.controls.score.value === 0 && form.touched">{{ 'You need to click on one star' | translate}}</mat-error>
    </div>
    <mat-form-field class="details">
      <mat-label>{{ 'Comment' | translate }}</mat-label>
      <textarea formControlName="details" matInput rows="4"></textarea>
    </mat-form-field>
    <div class="button-container">
      <button [disabled]="loading" color="primary" mat-flat-button type="submit">{{ 'Submit' | translate }}</button>
    </div>
  </form>
</div>
